<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Simple Table"
          text="Here is a subtitle for this table"
        >
          <v-data-table
            :headers="headers"
            :items="user"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            {{ user }}
            <template
              slot="user"
              slot-scope="{ data }"
            >
              <td>{{ data.id }}</td>
              <td>{{ data.username }}</td>
              <td>{{ data.email }}</td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      headers: [
        { sortable: true, text: 'Id', value: 'id' },
        { sortable: true, text: 'Username', value: 'username' },
        { sortable: false, text: 'Email', value: 'email' }
      ],
      user: [],
      loading: true,
      errored: true
    }
  },
  mounted () {
    try {
      axios
        .get('http://localhost:8000/api/v1/user')
        .then(response => (this.user = response.user))
      console.log()
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
